body{
    font-family: Roboto;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo-link{
    font-size: 80px;
    text-decoration: none;
    color: #000;
}
span{
    color: #4BCAFF;
}
.menu{
    height: 69px;  
    background-color: #35444F;
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.menu-list-item{
    display: inline-block;
    text-align: center;
    padding: 24px 32px 18px 32px;
    border-left: 1px solid #FFF;
    box-sizing: border-box;
    border-right:1px solid #FFF;;
}
.menu-list-item_link1{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
}
.menu-list-item_link{
    color: #FFF;
    list-style-type: none;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
}
.menu-list-item:hover{
   background-color: #222F3A;
}
.section{
    display: flex;
    gap: 52px;
    margin-top: 48px;
}
.menu-left{
    border: 1px solid #000;
    width: 344px;
    height: 399px;  
    box-sizing: border-box;
}
.menu-left-item{
   text-decoration: none;
    padding: 0;
}
.menu-left-item-list{
    color: #485863;
    list-style-type: none;
}
.menu-left-item-list_link{
    display: block;
    padding: 26px 0 26px 44px;
    color: #485863;
    text-decoration: none;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    box-sizing: border-box;
}
.menu-left-item-list_link:hover{
    color:  #000;
    background: #DBDBDB;
   
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.00);
    border: 1px solid #000;
}
.photo-img{
    width: 320px;
    height: 381px;
    overflow: hidden;
}
.photo-img:hover{
    transform: scale(1.1);
}
img{
    transition: transform 0.25s;
}
.text{
    width: 885px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.footer{
    box-sizing: content-box;
    text-decoration: none;
    height: 69px;
    width: 1280px;
    margin-top: 54px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
}
.footer-list-item{
    display: inline-block;
    padding: 20px 10px 20px 10px;
}
.footer-list-item_link{
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    list-style-type: none;
    text-decoration: none;
}
.footer-list-item_link:hover{
color: #3181A6;
}
